<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.js"></script>
</head>
<body>

    <h3>基于form表单的文件上传</h3>
    <hr>
    <div class="d-grid col-6 mb-4 p-3">
        <form action="" method="post" enctype="multipart/form-data">
            姓名<input type="text" class="form-control">
            <div class="mb-3 ">
                <label for="formFile" class="form-label">上传文件</label>
                <input class="form-control" type="file" id="formFile" name="file">
            </div>
            <input type="submit" class="btn btn-success" value="上传">
        </form>
    </div>
    <br>


    <h3>基于ajax的文件上传</h3>
    <hr>
    <div class="d-grid col-6 mb-4 p-3">
        <form action="" method="post" enctype="multipart/form-data">
            姓名<input type="text" class="form-control" id="username">
            <div class="mb-3 ">
                <label for="formFile" class="form-label">上传文件</label>
                <input class="form-control" type="file" id="formFile2">
            </div>
            <input type="button" class="ajax-upload btn btn-success" value="上传">
        </form>
    </div>

    <script>
  //      $('.ajax-upload').click(function(){
  //          $.ajax({
    //            url: '/files_ajax/',
      //          type: 'post',
     //           contentType: 'application/json',   //JSON格式上传数据
      //          data: JSON.stringify({
        //            'a': 1,
          //          'b': 2
            //    }),
              //  success: function(data){
            //        console.log(data)
       //         },
        //    })
       // })


        // ajax文件上传
        $('.ajax-upload').click(function(){
            var formdata = new FormData()

            console.log($("#username").val() , $('#formFile2')[0].files[0])
            formdata.append('user', $("#username").val())
            formdata.append('file', $('#formFile2')[0].files[0])  // 固定格式
            $.ajax({
                url: '/files_ajax/',
                type: 'post',
                contentType: false,
                processData: false,  // 上面两个参数固定要有
                data: formdata,
                success: function(data){
                    console.log(data)
                },
            })
        })


    </script>

</body>
</html>